<ul class="lui-list">
	<li ng-repeat="item in items" ng-class="{ disabled: item.disabled, exists: item.exists, 'has-details': item.details.length }" title="{{item.label}}">
		<div class="lui-list__item" qva-activate="toggle($event, item)">
			<span class="lui-list__text">{{item.label}}</span>
			<div class="lui-list__aside lui-nopad">
				<emergo-app-object-importer-add-button type="type" item="item" add="add"></emergo-app-object-importer-add-button>
			</div>
		</div>

		<div class="item-content" ng-if="item.toggled && item.details.length">
			<dl class="item-details">
				<div class="item-detail" ng-repeat="d in item.details">
					<dt class="item-{{d.name}}">{{d.label}}</dt><dd title="{{d.value}}">{{d.value}}</dd>
				</div>
			</dl>
		</div>
	</li>
</ul>
